.input {
    @apply w-full h-[48px] pl-[12px] overflow-ellipsis bg-white border-[1px] border-[#EAECEF] rounded-[2px] text-[16px] transition-colors placeholder-[#979797]
    focus:outline-none focus:border-[#808BE7] focus:ring-1 focus:ring-[#808BE7]
    invalid:border-[#E96170] invalid:text-[#E96170]
    focus:invalid:border-[#E96170] focus:invalid:ring-[#E96170];
}

.input-error {
    @apply absolute right-[2px] -top-[20px] text-[12px] text-[#E96170] opacity-0 transition-opacity duration-100; 
}

.input:invalid ~ .input-error{
    @apply opacity-100;
}

.input.outer-placeholder::placeholder {
    @apply opacity-0;
}

.input.outer-placeholder + * {
    @apply absolute top-[50%] left-[14px] -translate-y-[50%] opacity-0 pointer-events-none;
}

.input.outer-placeholder:placeholder-shown + * {
    @apply opacity-100;
}

.prefix-icon ~ .input {
    @apply px-[35px];
}

.prefix-icon ~ .input.outer-placeholder + * {
    @apply left-[37px];
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none !important;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.input:disabled {
    @apply bg-[#F7F8FA] text-opacity-70 cursor-not-allowed;
}

