@import './components/Button/index.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/SF-Pro-Display-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: auto;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/SF-Pro-Display-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: auto;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/SF-Pro-Display-Semibold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: auto;
}

#dapp-box-root {
    font-family: 'SF Pro Display';
}

body {
    background-color: #f8f9ff;
}

.backface-visible {
    backface-visibility: visible;
}

.contain-strict {
    contain: strict;
}

.contain-content {
    contain: layout paint style;
}

.main-scroll {
    height: calc(100vh - 64px);
}


button:not(:hover):not(.button-contained):not(.button-outlined) {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-[#808BE7];
}

button > img {
    @apply pointer-events-none;
}