@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: auto;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: auto;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Semibold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: auto;
}

body {
    -webkit-font-smoothing: initial !important;
    -moz-osx-font-smoothing: initial !important;
    @apply overflow-x-hidden;
    background-color: #f8f9ff;
}

.backface-visible {
    backface-visibility: visible;
}

.contain-strict {
    contain: strict;
}

.contain-content {
    contain: layout paint style;
}

button:not(:hover):not(.button-contained):not(.button-outlined) {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-[#808BE7];
}

button > img {
    @apply pointer-events-none;
}

.text-indent {
    text-indent: 1em;
}

button.ant-btn:not(:hover):not(.button-contained):not(.button-outlined) {
    outline: none;
    outline-offset: 0;
}
