.connected-spin {
    @apply relative inline-block text-[10px] w-[1em] h-[1em];
}

.connected-spin::after,
.connected-spin::before {
    @apply absolute w-full h-full rounded-full left-0 top-0 bg-[#A9ABB2];

    content: '';
    animation: connectedSpin 2s ease-in-out infinite;
}

.connected-spin::after {
    animation-delay: 1s;
}

.success.connected-spin::before, .success.connected-spin::after {
    @apply bg-[#6FC5B1];
}

@keyframes connectedSpin {
    0%,
    100% {
        transform: scale(0);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 0;
    }
}

.shadow-dropdown {
    box-shadow: 0px 8px 16px rgba(164, 170, 216, 0.08);
}

.connector.dropdown-visible .arrow-down {
    @apply rotate-180;
}
