
.token-list {
    max-height: 300px;
}

@media screen and (min-height: 1000px) {
    .token-list {
        max-height: 360px;
    }
}

@media screen and (min-height: 1200px) {
    .token-list {
        max-height: 460px;
    }
}

@media screen and (min-height: 1440px) {
    .token-list {
        max-height: 600px;
    }
}