.cast-votes-modal-wrapper {
    top: 108px;
}

.ant-radio-inner {
    border-color: #808BE7 !important;
}
.ant-radio-inner::after {
    background-color: #808BE7 !important;
}

@media screen and (max-height: 1000px) {
    .cast-votes-modal-wrapper {
        top: calc((100vh - 769px) / 2);
    }
}


@media screen and (max-height: 900px) {
    .cast-votes-modal-wrapper {
        top: calc((100vh - 497px) / 2);
    }

    .cast-votes-modal {
        @apply w-[856px];
    }

    .cast-votes-modal-vote-area {
        @apply flex-row justify-between items-stretch;
    }

    .cast-votes-modal-vote-area > div {
        @apply flex-1;
    }
}
